body {
  background: #fff;
  display: flex;
  justify-content: center;
  font-family: "Poppins", "arial";
  background-image: url(./bgAnimation.svg);
}

.bgSVG {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  border: 1em solid #000;
  background: #000;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1em;
  height: 400px;
  width: 400px;
}

.X {
  color: #a5a5a5;
}

.O {
  color: #5da9e9;
}

.squares {
  background: #fff;
  font-size: 3em;
  border: none;
}

li {
  list-style: none;
}

.history {
  display: flex;
  width: 350px;
  justify-content: space-around;
}

#historyBtn {
  min-width: 120px;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-transform: uppercase;
  padding: 8px 30px;
  width: 220px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
}

#historyBtn:hover {
  background: #5da9e9;
  color: #fff;
  border: #fff;
}
.gameText {
  animation: textgrowth 1s infinite alternate;
}
.playerTurn {
  height: 100px;
}

.X:hover {
  animation: markingGrowth 1s infinite alternate;
}

.O:hover {
  animation: markingGrowth 1s infinite alternate;
}

@keyframes markingGrowth {
  0% {
    font-size: 3em;
  }
  100% {
    font-size: 3.9em;
  }
}

@keyframes textgrowth {
  0% {
    font-size: 20px;
  }
  100% {
    font-size: 25px;
  }
}

.marking1 {
  animation: Xanimation infinte 2s alternate-reverse;
}

.marking2 {
  animation: Oanimation infinte 2s alternate-reverse;
}
