body {
  background: #fff;
  display: flex;
  justify-content: center;
}

.board {
  border: 1em solid #000;
  background: #a5a5a5;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1em;
}

.X {
  color: #fff;
}

.O {
  color: #5da9e9;
}

.squares {
  background: #fff;
}
